h1,h3{
    color: #FFFFFF;
}

input[type=text],input[type=password]{
    width:300px;
    height:50px;
    background-color: transparent;
    border-radius: 5px;
    border:1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 150%;
    
}

::-webkit-input-placeholder {
  color: darkgrey;
  font-size: 75%;
}

body{
  background-image: url("/imagens/background.jpg");
  background-size: cover;
}

.row{
  border-radius: 5px;
  border: 1px solid #FFFFFF;
}


footer{
  background-color: transparent;
  color: white;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 1;
  margin-top: 10px;
}

